{% extends "admin/components/base.html.twig" %}

{% block content %}
    <div class="content-wrapper">

        <section class="content-header">
{#            <div class="container-fluid">#}
{#                <div class="row mb-2">#}
{#                    <div class="col-sm-6">#}
{#                        <h1>Simple Tables</h1>#}
{#                    </div>#}
{#                    <div class="col-sm-6">#}
{#                        <ol class="breadcrumb float-sm-right">#}
{#                            <li class="breadcrumb-item"><a href="#">Home</a></li>#}
{#                            <li class="breadcrumb-item active">Simple Tables</li>#}
{#                        </ol>#}
{#                    </div>#}
{#                </div>#}
{#            </div><!-- /.container-fluid -->#}
        </section>


        <!-- Main content -->
        <div class="content">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Profiles: {{ pagination.getTotalItemCount }}</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Name</th>
                                        <th>Year Born</th>
                                        <th>Group</th>
                                        <th>Region</th>
                                        <th>Club</th>
                                        <th>Races</th>
                                        <th>User</th>
                                        <th>Strava</th>
                                        <th style="width: 40px"></th>
                                        <th style="width: 40px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for profile in pagination %}
                                        <tr>
                                            <td>{{ profile.id }}</td>
                                            <td>{{ profile.name }}</td>
                                            <td>{{ profile.birthday|date("Y") }}</td>
                                            <td>{{ profile.group }}</td>
                                            <td>{{ profile.region }}</td>
                                            <td>{{ profile.club }}</td>
                                            <td>{{ profile.results|length }}</td>
                                            <td>{% if profile.user is not empty %}{{ profile.user.email }}{% endif %}</td>
                                            <td>{{ profile.stravaId }}</td>
                                            <td><a href="{{ path('profile_edit', {'id': profile.id}) }}">edit</a></td>
                                            <td><a href=# data-toggle="modal" data-target="#confirm-delete" data-name="{{ profile.name }}" data-href="{{ path('profile_delete', {'id': profile.id}) }}">delete</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    {{ knp_pagination_render(pagination) }}
                                </ul>
                                <a href="{{ url('profile_create') }}"
                                   class="btn btn-info">Create</a>
                            </div>
                        </div>
                    </div>

                    {% include "admin/components/delete_modal.html.twig" %}

                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
{% endblock %}


